@import "./variables";

footer {
    background: $clr-black;
    color: $clr-whitesnow;
    border-top: solid 1px $clr-darken-gray;
    gap: 1rem;
    .footer-container{
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: space-between;
        gap: 1rem;
        @media (max-width:992px) {
            flex-wrap: wrap;
            margin: 0 1.5rem;
            .footer-contacts{
                flex-direction: row;
                font-size: .8rem;
                flex-wrap: wrap;
            }
        }
        p a{
            color: $clr-light-blue;
            text-decoration: underline;;
        }
        ul{
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        div{
            display: flex;
            gap: 1rem;
            flex-direction: column;
        }
        .developed{
            font-size: .9rem;
        }
        .footer-paragraph{
            max-width: 345px;
        }
    }
}