$clr-whitesnow: rgb(245, 245, 245);
$clr-white: rgb(255, 255, 255);
$clr-light-blue: rgb(127, 173, 241);
$clr-blue: rgb(50, 115, 255);
$clr-light-gray: rgb(224, 224, 224);
$clr-darken-gray:rgb(36, 36, 36);
$clr-black:rgb(12, 12, 12);