@import "./variables";

footer {
    margin: 0!important;
    background: $clr-black;
    color: $clr-whitesnow;
    border-top: solid 1px $clr-darken-gray;
    gap: 1rem;
    .footer-container{
        padding-top: 3rem;
        padding-bottom: 3rem;
        justify-content: space-between;
        gap: 1rem;
        @media (max-width:992px) {
            flex-wrap: wrap;
            margin: 0 1.5rem;
            .footer-contacts{
                flex-direction: row;
                font-size: .8rem;
                flex-wrap: wrap;
            }
        }
        .developed{
            display: flex;
            align-items: center;
            gap: 3px;
        }
        p {
            svg{
                width: 1rem;
                fill: $clr-whitesnow;
            }
            a{
                color: $clr-light-blue;
                text-decoration: underline;
                transition: color .15s ease-in-out;
            }
        }
        p a:hover{
            color: $clr-blue;
        }
        ul{
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        div{
            display: flex;
            gap: 1rem;
            flex-direction: column;
        }
        .developed{
            font-size: .9rem;
        }
        .footer-paragraph{
            max-width: 345px;
        }
        .footer-icons{
            display: flex;
            flex-direction: row;
            svg{
                width: 1.25rem;
                fill: $clr-whitesnow;
                transition: fill ease-in-out .3s;
            }
            svg:hover{
                fill: $clr-blue;
            }
        }
    }
}