@import "./variables";

main{
    display: flex;
    justify-content: center;
    .main{
        display: flex;
        gap: 5rem;
        @media (max-width:992px) {
            gap: 1.5rem;
        }
        @media (max-width:570px) {
            flex-wrap: wrap;
        }
        .main-img{           
            max-width: 320px;
            justify-content: space-between;
            @media (max-width:992px) {
                min-width: 200px;
            }
            @media (max-width:570px) {
                min-width: 100%;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            justify-content: center;
            @media (max-width:992px) {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                justify-content: center;
                max-width: 320px;
            }
            @media (max-width:570px) {
                min-width: 100%;
            }
            h1{
                max-width: 500px;
                font-size: 3rem;
                @media (max-width:992px) {
                    font-size: 5.75vw;
                }
            }
        
            p{
                font-size: 1.15rem;
                @media (width:992px) {
                    font-size: 5vw;
                }

            }
        }
    }
}
