main
    display: flex
    justify-content: center
    margin-top: 2rem
    .main
        display: flex
        div
            display: flex
            flex-direction: column
            gap: 1.5rem
            justify-content: center


@media (max-width: 800px)
    .main
        margin: 0 1.5rem
        gap: 1.5rem
        .main-img
            min-width: 200px
        div
            display: flex
            flex-direction: column
            gap: 1.5rem
            justify-content: center
            max-width: 320px

            h1
                font-size: 2rem
            p
                font-size: 1.25rem

@media (min-width: 801px) 
    .main
        gap: 5rem
        .main-img
            max-width: 320px
            justify-content: space-between
        div
            max-width: 500px

            h1
                font-size: 3rem

@media (max-width:570px) 
        .main
            flex-wrap: wrap
            .main-img
                min-width: 100%
            div
                max-width: 100%
                h1
                    font-size: 8.5vw
                p
                    font-size: 5.5vw
